{% extends 'base.html' %}

{% block conteudo %}
<div class="container mt-5">
    <h2 class="text-center alert alert-dark">
         Add/Update Cliente
    </h2>

    <div class="row">
        <div class="col-md-4">
           <form method="POST"> {% csrf_token%}
            {{form.as_p}}
            <input class="btn btn-success" type="submit" value="Enviar">
            <a href="/" class="btn btn-secondary">Voltar</a>
           </form>
        </div>
    </div>
</div>

<!--JQUARY JS-->
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>


<script>
    $(document).ready(function(){
       
        $("#id_telefone").inputmask("(99) 99999-9999", {"onincomplete": function(){
            return false;
        }});
    
   
    });
</script>


{% endblock conteudo %}